#Iterate to all images in the folder
for file in *.jpg *.jpeg *.png *.gif *.JPG *.JPEG; do
        #Check whether the file exist. 
        if [ -f "$file" ]; then
                filename=$(basename "$file")

                #Check wether the image was  already resized, it means if it is in the master list. 
                if ! grep -q "$filename" "resized_images_list.md"; then
                        #If False do the convertion and extraction of Meta Data. 
                        convert "$file" -resize "600x400>" "img/$filename"

                        echo "Resizing of $file done."
                        echo "$filename" >> resized_images_list.md


                        model=$(exiftool -Model $file | awk -F': ' '{print $2}')
                        exposuretime=$(exiftool -ExposureTime $file | awk -F': ' '{print $2}')
                        fnumber=$(exiftool -FNumber $file | awk -F': ' '{print $2}')
                        iso=$(exiftool -ISO $file | awk -F': ' '{print $2}')
                        lensmodel=$(exiftool -LensID $file | awk -F': ' '{print $2}')

                        imagedescription="<figure>\n\t<img src='/Shutter101/photos/$(basename "$(pwd)")/img/$file' alt='$file'>\n\t<figcaption>$model, $exposuretime-sec, f/$fnumber, ISO$iso, $lensmodel</figcaption>\n</figure>"

                        #Insert the description before the word "END" in the photogallery.md. 
                        sed  -i "/<\/div>/i $imagedescription" "$(basename "$(pwd)").md"

                        echo "Image description of $file added to $(basename "$(pwd)").md."

                fi
        fi
done

